.section7_container {
  width: 292px;
  margin: 0 auto;
}

.sect_title {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff,
    0 0 20px #ffffff, 0 0 40px #ff00de, 0 0 80px #ff00de,
    0 0 90px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  display: flex;
  margin: 0 auto;
}

.section7_list {
  flex-flow: column;
  justify-content: center;
  padding: 100px 0;
  background-color: black;
}

.h3 {
  color: #ff1f78;
}

.p {
  color: #26d7ff;
}

@media (width:768px) {
  .container {
    width: 708px;
  }
}

@media (width:1200px) {
  .container {
    width: 100%;
    width: 1140px;
  }

  .section7_list {
    display: flex;
    flex-direction: row;
    margin: 30px;
  }
}
